.app-wrapper {
  display: grid;
  width: 1125px;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 10fr;
  grid-gap: 10px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: c;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
}
